.text-center
{
  text-align: center;
}
body
{
  font-family: sans-serif;
  color:white;
  background-color:#002233;
  margin: 10px;
}
#in
{
  background-color: #4875B4;
  border-radius: 4px;
  padding: 3px;
  margin-left: 2px;
}
.mainbox
{
  background-color:#404040;
  width: 50%;
  float: left;
  width: 25%;
  align-content: center;
  border-radius:3px;
  margin-top: 20px;
  padding: 2%;
}
.space
{
  float: left;
  min-width:35.5%;
  color:#002233;
}
input
{
  width: 70%;
  margin:.2%;
  padding: 3%;
  border-radius: 2%;
  border:none;
}
input
{
  margin-top: 0px;
}
.button
{
  background-color: #4875B4;
  border: none;
  border-radius: 3px;
  min-width: 77%;
  color:white;
  font-size: 20px;
  margin:2%;
  padding: 1%;
}
